#loading {
	font-size: large;
	font-weight: bold;
	text-align: center;
	position: absolute;
	height: 70px;
	width: 70px;
	z-index: 1;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	left: 45%;
	top: 25%;
	visibility:hidden;
	display:block;
}